<!DOCTYPE html>
<html>
</html>
<style>
</style>
<div class="w3-row">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-red">About Us</h1><div>
      <img src="http://www.netroxtech.com/video/wp-content/uploads/2016/05/ruby-on-rails-web-development.jpg" alt="Rails" width="300" height="240" style="float:right; border:solid black 2px; padding:2px; margin:0 30px 30px 0";>
    </div>
      <p> Hello my name is David Heinemeier Hansson, I was born in 1979 in Copenhagen, Denmark. After I graduated from Copenhagen Business School in 2005, I moved to Chicago, USA.</p>
      <p>I am a partner in 37signals. The company behind Basecamp, Highrise, Backpack, Writeboard, and Ta-da List. We run a popular weblog at Signal vs Noise.</p>
      <p>I am also the creator the web-application framework <a href="http://www.rubyonrails.com">Ruby on Rails</a>. The infrastructure software that we use to build all our applications at 37signals.</p>
      <p>For the work on Rails, I won Best Hacker of the Year 2005 at OSCON from Google and O'Reilly. And in 2006, I accepted the Jolt award of product excellence for Rails 1.0.</p>
    </div>
    </div>
    <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-red">About My Application:</h1>
      <p>This application is to be used by clicking on the store button to shop.</p>
      <p>Users are able to add products to their cart by clicking on the add to cart button.  In addtion customers are able to empty the cart and continue shopping.  Customers can also checkout and add payment information from a dropdown menu.</p>
      <p>Administrators can log-in with approved user credentials on the Login tab.</p>
    </div>
    