<!DOCTYPE html>
<html>
</html>
<style>
</style>
<div class="w3-row">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-red">About Us</h1><div>
      <img src="http://www.netroxtech.com/video/wp-content/uploads/2016/05/ruby-on-rails-web-development.jpg" alt="Rails" width="300" height="240" style="float:right; border:solid black 2px; padding:2px; margin:0 30px 30px 0";>
    </div>
      <p> Hello my name is David Heinemeier Hansson, I was born in 1979 in Copenhagen, Denmark. After I graduated from Copenhagen Business School in 2005, I moved to Chicago, USA.</p>
      <p>I am a partner in 37signals. The company behind Basecamp, Highrise, Backpack, Writeboard, and Ta-da List. We run a popular weblog at Signal vs Noise.</p>
      <p>I am also the creator the web-application framework <a href="http://www.rubyonrails.com">Ruby on Rails</a>. The infrastructure software that we use to build all our applications at 37signals.</p>
      <p>For the work on Rails, I won Best Hacker of the Year 2005 at OSCON from Google and O'Reilly. And in 2006, I accepted the Jolt award of product excellence for Rails 1.0.</p>
    </div>
    </div>
    <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-red">About Me</h1>
      <p>Prior to my current job I was donating shaving cream in Deltona, FL. Spent the 80's promoting Slinkies in Salisbury, MD.</p>
      <p>What gets me going now is short selling human hair in Fort Lauderdale, FL. Spent 2001-2005 licensing plush toys in Fort Lauderdale, FL.</p>
      <p>Earned praise for training action figures in Jacksonville, FL. Practiced in the art of analyzing human growth hormone in Los Angeles, CA.</p>
    </div>
    