<h1>Editing Product</h1>

<%= render 'form', product: @product %>

<%= link_to 'Show', @product , class:"w3-button w3-light-gray" %> |
<%= link_to 'Back', products_path , class:"w3-button w3-light-gray"  %>
